.privacy-wrapper {
  width: 100%;
  padding: 40px 0;

  display: flex;
  justify-content: center;

  @media screen and (max-width: 768px) {
    padding: 20px 0;
  }

  .privacy-content {
    max-width: 800px;
    width: 90%;

    .privacy-banner {
      width: 100%;
      height: 200px;
      background-color: #34CA94;
      margin-bottom: 30px;
      border-radius: 10px;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 30%;
      }

      @media screen and (max-width: 768px) {
        height: 150px;
        margin-bottom: 20px;

        img {
          width: 50%;
        }
      }
    }

    h1 {
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      margin-bottom: 10px;
    }

    a {
      color: #007bff;
    }

    ul {
      margin-left: 20px;
    }

    li {
      margin-bottom: 10px;
    }
  }
}